.homePageContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1; /* Añadido para asegurar que el contenedor crezca */
  text-align: center;
  background-size: cover;
  color: white;
}

.mainSection {
  flex-grow: 1; /* Añadido para que esta sección ocupe el espacio disponible */
  padding: 4rem 0;
  /* Resto de tus estilos */
}

.title {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.subtitle {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.mainButton {
  background-color: #00695c;
  border: none;
  color: white;
}
