.homePageContainer {
  background-color: var(--background-content);
  color: var(--text-color);
  padding: 2rem;
}

.mainSection {
  margin: 2rem 0;
}

.title {
  color: var(--color-primary);
  margin-bottom: 1rem;
}

.subtitle {
  color: var(--text-secondary-color);
  margin-bottom: 2rem;
}

.mainButton {
  background-color: var(--color-secondary);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
}
