.footer {
  background-color: var(--color-primary);
  color: white;
  text-align: center;
  padding: 1rem;
  width: 100%;
}

.socialLink {
  color: white;
  margin: 0 0.5rem;
  text-decoration: none;
}
