.footer {
    background-color: #004d40;
    color: white;
    text-align: center;
    padding: 1rem;
    position: relative;
    bottom: 0;
    width: 100%;
  }
  
  .socialLink {
    color: white;
    margin: 0 0.5rem;
    text-decoration: none;
  }
  